
.home-frame .title-view{
    border-radius: 0.3vw;
    background-color: white;
    box-shadow: 0 0 0.2vw 0.05vw rgba(0, 0, 0, 0.2);
    width: 98%;
    margin: 0.5vw auto;
    padding-bottom: 1vw;
}
.home-frame .title-view .title{
    overflow: hidden;
    padding: 0 2vw;
}
.home-frame .title-view .title h1{
    float: right;
    font-family: 'iransans';
    font-size: 1.1vw;
    color: var(--text);
}
.home-frame .title-view .title h1 i{
    padding-left: 1vw;
}
.home-frame .title-view .title h2{
    float: left;
    font-family: 'iransans';
    font-size: 1.1vw;
    color: var(--text);
}
.home-frame .main-container{
    overflow: hidden;
    padding: 0.5vw 0;
    margin-top: 1vw;
}
.home-frame .main-container .sidebar-view{
    width: 25%;
    float: right;
    margin-right: 1%;
}
.home-frame .main-container .sidebar{
    border-radius: 0.3vw;
    box-shadow: 0 0 0.2vw 0.05vw rgba(0, 0, 0, 0.2);
    padding-bottom: 1vw;
    background-color: white;
    margin-bottom: 1vw;
}
.home-frame .main-container .content-view{
    border-radius: 0.3vw;
    box-shadow: 0 0 0.2vw 0.05vw rgba(0, 0, 0, 0.2);
    width: 72%;
    float: right;
    padding-bottom: 1vw;
    background-color: white;
    margin-right: 1%;
}
.file-list{
    padding: 0.5vw 0;
}
.file-list .item{
    width: 90%;
    margin: 1vw auto;
    padding-bottom: 0.7vw;
    cursor: pointer;
}
.file-list .item:hover{
    background-color: rgb(236, 241, 243);
}
.info1{
    /* border-collapse: collapse; */
    overflow: hidden;
    width: 100%;
}
.info2{
    /* border-collapse: collapse; */
    width: 100%;
    text-align: center;
}
.info3{
    /* border-collapse: collapse; */
    width: 100%;
    /* text-align: center; */
}
.info5{
    /* border-collapse: collapse; */
    width: 70%;
    /* text-align: center; */
}
.info2 td, .info5 td{
    border: var(--lightgray) 0.1vw solid;
    padding: 0.1vw 0.2vw;
    height: 1vw;
}
.col20{width: 18%; margin: 0;}
.col25{width: 23%; margin: 0;}
.col30{width: 28%; margin: 0;}
.col35{width: 33%; margin: 0;}
.col40{width: 38%; margin: 0;}
.col50{width: 48%; margin: 0;}
.col60{width: 58%; margin: 0;}
.col70{width: 68%; margin: 0;}
.column{
    border: var(--lightgray) 0.1vw solid;
    /* height: 5vw; */
    padding: 0.3vw 0.5vw;
    border-radius: 0.2vw;
}
.name{
    font-family: 'iransans';
    font-size: 1vw;
    font-weight: bold;
    display: inline;
}
.value{
    font-family: 'iransans';
    font-size: 1vw;
    display: inline;
}
.info3 .value{
    color: green;
}
.table-title{
    font-family: 'iransans';
    font-size: 0.8vw;
    font-weight: bold;
}
.table-value{
    font-family: 'iransans';
    font-size: 0.9vw;
}
.label{
    /* float: right; */
    display: inline;
    font-family: 'iransans';
    font-size: 0.8vw;
    color: white;
    padding: 0.2vw 0.5vw;
    border-radius: 0.5vw;
    margin-left: 0.3vw;
    line-height: 1vw;
    white-space: nowrap;
}
.label.green{
    background-color: var(--green);
}
.label.blue{
    background-color: var(--blue);
}
.info3 .more{
    font-family: 'iransans';
    font-size: 0.9vw;
    color: white;
    background-color: var(--darkblue);
    border-radius: 0.5vw;
    padding: 0.2vw 1.2vw;
    width: fit-content;
    float: left;
    cursor: pointer;
}    
.info3 .more:hover{
    background-color: var(--green);
}

.main-container .sidebar .title{
    padding: 0.5vw 1vw;
    cursor: pointer;
}
.main-container .sidebar .title:hover{
    color: var(--blue);
}
.main-container .sidebar .search-parameters .range-input{
    overflow: hidden;
    padding: 0.5vw 0;
    margin-bottom: 0.5vw;
}
.main-container .sidebar .search-parameters .range-input .title{
    float: right;
    width: 55%;
    margin: 0;
    padding: 0;
    font-family: 'iransans';
    font-size: 0.85vw;
    padding-right: 1vw;

}
.main-container .sidebar .search-parameters .range-input .slider{
    /* transform: rotate(180deg); */
    width: 35%;
    float: right;
    margin-top: 0.5vw;
}

.main-container .sidebar .search-parameters .check-input{
    padding: 0.5vw 1vw;
}
.main-container .sidebar .search-parameters .check-input .title{
    font-family: 'iransans';
    font-size: 1vw;
    display: inline;
    padding: 0;
    margin: 0;
}
.main-container .sidebar .search-parameters .check-input .item{
    display: inline;
    border: var(--blue) 0.1vw solid;
    padding: 0.1vw 0.8vw;
    color: var(--blue);
    font-family: 'iransans';
    font-size: 0.9vw;
    border-radius: 0.5vw;
    line-height: 2.5vw;
    cursor: pointer;
}
.main-container .sidebar .search-parameters .check-input .item.active{
    background-color: var(--blue);
    color: white;
}

.refresh-link{
    width: 90%;
    margin: auto;
    background-color: var(--darkblue);
    font-family: 'iransans';
    font-size: 1vw;
    color: white;
    text-align: center;
    border-radius: 0.3vw;
    padding: 0.5vw 0;
    cursor: pointer;
}
.refresh-link:hover{
    background-color: var(--green);
}
.refresh-link i{
    padding-left: 0.5vw;
}

.images-view{
    overflow: hidden;
    width: 95%;
    margin: auto;
    margin-top: 0.5vw;
}
.images-view a{
    height: 5vw;
    border-radius: 0.3vw;
    display: block;
    float: right;
    margin-left: 0.5vw;
    overflow: hidden;
}
.images-view a img{
    display: block;
    height: 5vw;
}

.sidebar .user-avatar {
    padding-top: 1.3vw;
}
.sidebar .user-avatar i{
    color: var(--gray);
    font-size: 4vw;
    display: block;
    width: fit-content;
    margin: auto;
    /* padding-top: 1vw; */
    /* padding-bottom: 0.3vw; */
    padding: 0.5vw 1vw 0.3vw 1vw;
    border-radius: 50%;
    border: var(--lightgray) 0.1vw solid;
}
.sidebar .info{
    padding: 0.2vw 2vw;
    font-family: 'iransans';
    font-size: 1vw;
}
.sidebar .info i{
    font-size: 1.3vw;
    color: var(--blue);
    padding-left: 0.5vw;
}
.sidebar .info.plan{
    font-size: 1vw;
    color: green;
    margin-bottom: 1vw;
}
.sidebar .code{
    text-align: center;
    color: var(--blue);
}
.slider-slider{
    border-radius: 0.3vw;
    padding: 0;
    background-color: lightblue;
}
.slider-handle{
    background: lightblue;
    border-radius: 1vw;
}
.slider-range{
    background-color: var(--blue);

}
.sidebar .filter-btn{
    background-color: var(--darkblue);
    color: white;
    border-radius: 0.5vw;
    padding: 0.5vw 0;
    text-align: center;
    cursor: pointer;
    width: 90%;
    margin: auto;
    margin-top: 1vw;
    font-family: 'iransans';
    font-size: 1.2vw;
}
.sidebar .filter-btn:hover{
    background-color: var(--green);
}
.sidebar .search-address{
    overflow: hidden;
    padding: 1vw 0;
}
.sidebar .search-address input{
    display: block;
    float: right;
    font-family: 'iransans';
    font-size: 0.9vw;
    padding: 0.2vw 1vw;
    margin-right: 1vw;
    border: var(--gray) 0.1vw solid;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    width: 70%;
    border-left: none;
}
.sidebar .search-address button{
    display: block;
    float: right;
    font-family: 'iransans';
    font-size: 0.9vw;
    padding: 0.2vw 1vw;
    border: var(--darkblue) 0.1vw solid;
    background-color: var(--darkblue);
    color: white;
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    cursor: pointer;
}
.sidebar .search-address button:hover{
    background-color: var(--green);
}
.overflow-hidden{overflow: hidden;}
.inline{display: inline;}