extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/admin-settings.css")

block content
    .title-view 
        h1 تنظیمات
        h2
    .content-view 
        .users-view 
            .settings-view
                
        .user-control 
            .control 
                
    

    script.
        $('#link5').addClass('active');