extends layout
block styles
    link(rel="stylesheet", href="/css/privacy-policy.css")

block content
    .privacy-view
        h1.title شرایط و قوانين
        ul.privacy
            li در صورت ثبت نام و یا استفاده از خدمات این سایت شما این شرایط و قوانین را پذیرفته اید . در صورتی که شما با بخشی و یا تمامی قوانین ذکر شده در این سامانه موافق نمیباشید، با کمال احترام میبایست از این سامانه خارج شده و هیچ کدام از سرویسهای آن استفاده نکنید.
            li توزیع فایلهای کاغذی هر هفته از شنبه تا چهارشنبه بین ساعات 9 تا 11 صبح می باشد. 
            li در ایام تعطیلات رسمی – پنجشنبه ها و جمعه ها فایل کاغذی توزیع نمیگردد. بدیهی است که فایل این روزها، روزبعد برای مشترکین ارسال میگردد. 
            li هنگام ثبت نام دقت کنید که اطلاعات وارد شده صحیح باشد ارسال فایلها فقط به آدرس ثبت شده در سامانه امکان پذیر است. در صورت تغییر آدرس حتما پروفایل خود را بروزرسانی کنید. این سامانه تعهدی نسبت به توزیع فایلها غیر از آدرس ثبت شده در پروفایل کاربری شما را ندارد. 
            li چنانچه در ساعات مقرر امکان تحویل فایلها به مشترکین صورت نگیرد  ( تعطیلی - تغییر آدرس – عدم حضور مشترک ) فایلها روز بعد کاری برای مشترک ارسال میگردد. فایل استور تعهدی برای پخش مجدد غیر از ساعات ذکر شده ندارد. بدیهی است مشترکین میتوانند برای دریافت فایل خود به آدرس ذکر شده در سامانه به صورت حضوری مراجعه نمایند.
            li مسئولین فایل استور نهایت کوشش و دقت خود را جهت بررسی و تعیین اصالت، صحت و سقم مطالب ارائه شده بعمل می آورند، با این حال، هرگونه تضمینی را از بابت درست بودن، و یا قابل اعتماد بودن مطالب مذکور از خود سلب می‌نمایند. همچنین قیمت های عنوان شده در بخش های مختلف سامانه، تنها نظرات اولیه مالکین محترم میباشد و چه بسا مالکین در زمان انجام معامله بسیار کمتر از قیمت اولیه حاضر به امضاء قرارداد ذیربط باشند ضمن آنکه مسئولیت نهائی آن با ارائه دهندگان اطلاعات و مراجع آنها به سایت می باشد. 
            li اطلاعات این سامانه با هزینه مسئولین فایل استور جمع آوری نظارت مرتب سازی و توزیع شده است و حق حذف آگهی ها در هر زمان به ارسال کننده اگهی داده شده است  استفاده کننده از این سایت حق کپی برداری از اطلاعات آگهی دهنده نوشتار تصاویر آگهی های منتشر شده در سامانه را  نخواهد داشت  و انجام این موارد پیگرد قانونی خواهد داشت. 
            li استفاده از این سامانه با مسئولیت شخص شما صورت میگیرد  و این سامانه تعهدی در قبال هر گونه خسارت مستقیم و غیر مستقیم اتفاقی و تبعات حقوقی ناشی از دسترسی و استفاده شما از سایت ندارد. 
            li مشترکین مجاز نیستند برای افرادی که مشخصات خود را در این سامانه ثبت کرده اند ایجاد مزاحمت از هر نوع نمایند. 
            li مشترکین حق سوء استفاده از مشخصات افراد را نداشته و با اینگونه موارد به شدت برخورد قانونی میگردد.
            li شما به سامانه فایل استور اطمينان می دهيد که از اين سايت برای رسيدن به مقاصدی که بر خلاف قوانين موضوعه يا شرايط استفاده از این سايت می باشد استفاده نخواهيد کرد مشترکین  حق ندارند که اطلاعات این سامانه را جمع آوری کرده و از اطلاعات بدست آمده هرگونه استفاده ای غیر از مصارف عمومی تعریف شده انجام دهند . کاربران نمیتوانند از اطلاعات مربوط به این سامانه برای ایجاد فایلینگ جدید و یا اپلیکیشن و سایت تجاری دیگر استفاده نمایند در صورت مشاهده این موضوع اکانت کاربر مسدود می گردد. 
        .notice
            i.fa.fa-warning
            | لطفا برای آگاهی از شرایط جدید و بروزرسانی قوانین هر چند وقت یکبار این صفحه را مرور نمایید.


    script(src="/js/privacy-policy.js")