extends layout
block styles
    link(rel="stylesheet", href="/css/return-guarantee.css")

block content
    include ./components/messages
    .content-view 
        h1.title 7 روز زمانت بازگشت وجه
        p رضایتمندی مشاورین و کاربران همواره از اولویت‌های اصلی فایل استور بوده، تا انتظارات کاربران در شرایط مطلوب، مورد تایید واقع گردد. با این وجود ممکن است مشاورین املاک بنا به دلایلی اشتراک خریداری شده را مرجوع نمایند که در این صورت مفاد زیر به عنوان شرایط قانونی، معتبر و مورد توافق طرفین خواهد بود:
        ul 
            li کاربر می تواند ظرف مدت هفت روز کاری اقدام به انصراف خود از خرید اشتراک نماید.
            li مالیات بر ارزش افزوده از مبلغ اشتراک کسر و باقی مبلغ به حساب کاربر باز می‌گردد.
        
    script(src="/js/numberFixer.js") 
