doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title payment
        link(rel="stylesheet", href="/css/api/payment.css")
    body 
        h1 پرداخت با موفقیت انجام شد
        h2 نوع اشتراک: #{estate.planType}
