<div class="popup"  id="file-popup">
    <i class="fa fa-times close-popup"></i>
    <div class="title-line">
        <div class="popup-title">
            <h1> مشاهده اطلاعات فایل</h1>
        </div>
    </div>
    <table class="info1">
        <td class="column col20 overflow-hidden">
          <div class="label green" id="file-type"></div>
          <div class="label blue" id="file-state"></div>
        </td>
        <td class="column">
          <div class="name">نام مالک: </div>
          <div class="value" id="file-owner"></div>
        </td>
        <td class="column">
          <div class="name">تلفن: </div>
          <div class="value" id="file-phone"></div>
        </td>
        <td class="column">
          <div class="name">آدرس: </div>
          <div class="value" id="file-address"></div>
        </td> 
        <td class="column">
          <div class="value" id="file-date"></div>
        </td>
    </table>
    <table class="info2">
        <tr>
          <td class="table-title">متراژ</td>
          <td class="table-title">خواب</td>
          <td class="table-title">طبقه</td>
          <td class="table-title">طبقات</td>
          <td class="table-title">واحد</td>
          <td class="table-title">سن بنا</td>
          <td class="table-title">پارکینگ</td>
          <td class="table-title">انباری</td>
          <td class="table-title">آسانسور</td>
          <td class="table-title">آشپزخانه</td>
          <td class="table-title">نما</td>
          <td class="table-title">کف</td>
          <td class="table-title">سرویس</td>
          <td class="table-title">سرمایش و گرمایش</td>
        </tr>
        <tr>
          <td class="table-value" id="file-meterage"></td>
          <td class="table-value" id="file-bedroom"></td>
          <td class="table-value" id="file-floor"></td>
          <td class="table-value" id="file-numOfFloors"></td>
          <td class="table-value" id="file-unit"></td>
          <td class="table-value" id="file-buildAge"></td>
          <td class="table-value" id="file-parking"></td>
          <td class="table-value" id="file-warehouse"></td>
          <td class="table-value" id="file-elevator"></td>
          <td class="table-value" id="file-kitchen"></td>
          <td class="table-value" id="file-view"></td>
          <td class="table-value" id="file-floortype"></td>
          <td class="table-value" id="file-service"></td>
          <td class="table-value" id="file-heatingAndCoolingSystem"></td>
        </tr>
        <tr>
          <td class="table-value" id="file-meterage2"></td>
          <td class="table-value" id="file-bedroom2"></td>
          <td class="table-value" id="file-floor2"></td>
          <td class="table-value" id="file-numOfFloors2"></td>
          <td class="table-value" id="file-unit2"></td>
          <td class="table-value" id="file-buildAge2"></td>
          <td class="table-value" id="file-parking2"></td>
          <td class="table-value" id="file-warehouse2"></td>
          <td class="table-value" id="file-elevator2"></td>
          <td class="table-value" id="file-kitchen2"></td>
          <td class="table-value" id="file-view2"></td>
          <td class="table-value" id="file-floortype2"></td>
          <td class="table-value" id="file-service2"></td>
          <td class="table-value" id="file-heatingAndCoolingSystem2"></td>
        </tr>
        <tr>
          <td class="table-value" id="file-meterage3"></td>
          <td class="table-value" id="file-bedroom3"></td>
          <td class="table-value" id="file-floor3"></td>
          <td class="table-value" id="file-numOfFloors3"></td>
          <td class="table-value" id="file-unit3"></td>
          <td class="table-value" id="file-buildAge3"></td>
          <td class="table-value" id="file-parking3"></td>
          <td class="table-value" id="file-warehouse3"></td>
          <td class="table-value" id="file-elevator3"></td>
          <td class="table-value" id="file-kitchen3"></td>
          <td class="table-value" id="file-view3"></td>
          <td class="table-value" id="file-floortype3"></td>
          <td class="table-value" id="file-service3"></td>
          <td class="table-value" id="file-heatingAndCoolingSystem3"></td>
        </tr>
    </table>
    <table class="info4">
        <td class="table-title">امکانات ویژه: </td>
        <td class="table-value" id="file-options"></td>
    </table>
    <table class="info5">
        <tr>
            <td class="table-title">منطقه</td>
            <td class="table-title">وام</td>
            <td class="table-title">قابلیت تبدیل</td>
            <td class="table-title">تخفیف</td>
            <td class="table-title">وضعیت سند</td>
            <td class="table-title">تحویل</td>
            <td class="table-title">آگهی دهنده</td>
            <td class="table-title">شماره فایل</td>
        </tr>
        <tr>
            <td class="table-value" id="file-area"></td>
            <td class="table-value" id="file-lone"></td>
            <td class="table-value" id="file-changable"></td>
            <td class="table-value" id="file-discount"></td>
            <td class="table-value" id="file-documentState"></td>
            <td class="table-value" id="file-transfer"></td>
            <td class="table-value" id="file-advertiser"></td>
            <td class="table-value" id="file-number"></td>
        </tr>
    </table>
    <table class="info3 hidden">
        <td>
          <div class="name">قیمت متری/رهن: </div>
          <div class="value" id="file-price"></div>
        </td>
        <td>
          <div class="name">قیمت کل/اجاره: </div>
          <div class="value" id="file-fullPrice"></div>
        </td>
    </table>
    <table class="info3">
        <td>
          <div class="name">قیمت متری/رهن: </div>
          <div class="value" id="file-price2"></div>
        </td>
        <td>
          <div class="name">قیمت کل/اجاره: </div>
          <div class="value" id="file-fullPrice2"></div>
        </td>
    </table>
    <div class="images-view" id="file-images-view"></div>
    <div class="next-file-btn" id="next-file-btn">
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="prev-file-btn" id="prev-file-btn">
      <i class="fa fa-chevron-left"></i>
    </div>
    <div id="popup-index" class="hidden"></div>
</div>
