<div class="intro-modal hidden"></div>
<div class="intro-popup arrow-right hidden" id="intro-1">
    <h1>با استفاده از این دکمه همه فایل ها را دریافت کنید.</h1>
    <p>با کلیک بر روی این دکمه تمام فایل‌هایی که از قبل بارگیری شده‌اند به روز رسانی می‌شوند، همچنین اگر فایل جدیدی موجود باشد به لیست فایل ها اضافه می‌گردد.</p>

    <div class="next-intro">بعدی
        <i class="fa fa-chevron-left"></i>
    </div>
</div>
<div class="intro-popup arrow-right hidden" id="intro-2">
    <h1>فقط بارگیری فایل‌‌های جدید</h1>
    <p>با کلیک بر روی این دکمه تنها فایل‌هایی که اخیرا اضافه شده بارگیری می‌شوند و فایل‌هایی که قبلا بارگیری شده تغییری نمی‌کنند.</p>
    <div class="next-intro">بعدی
        <i class="fa fa-chevron-left"></i>
    </div>
</div>
<div class="intro-popup arrow-right hidden" id="intro-3">
    <h1>جستجو در آدرس، نام مالک، متراژ و ...</h1>
    <p>جهت یافتن سریع فایل مورد نظر کافیست در این بخش‌، قسمتی از آدرس، نام مالک، تلفن، شماره فایل یا متراژ را بنویسید.</p>
    <h1>جستجوی پیشرفته</h1>
    <p>در صورت نیاز می‌توانید با استفاده از فیلترهای مشخص شده در جستجوی پیشرفته فایل‌های مورد نظر خود را پیدا کنید. </p>
    <div class="next-intro">بعدی
        <i class="fa fa-chevron-left"></i>
    </div>
</div>
<div class="intro-popup arrow-top hidden" id="intro-4">
    <h1>حذف فیلترهای اعمال شده</h1>
    <p>با کلیک بر روی این گزینه بدون در نظر گرفتن فیلتر های جستجوی عادی و پیشرفته، تمامی فایل‌ها نمایش داده می‌شوند.</p>
    <div class="next-intro">بعدی
        <i class="fa fa-chevron-left"></i>
    </div>
</div>
<div class="intro-popup arrow-top2 hidden" id="intro-5">
    <h1>نمایش فایل ها به صورت کامل / کوتاه شده</h1>
    <p>در این قسمت می‌توانید نحوه نمایش فایل‌ها را تغییر دهید.</p>
    <div class="next-intro">بعدی
        <i class="fa fa-chevron-left"></i>
    </div>
</div>
