<div class="news-viwe">
    <h1 class="title">آخرین اخبار</h1>
    <div id="news-container">
        <!-- <div class="news">
            <h1>عنوان</h1>
            <p>این یک پیام آزمایشی است. این پیام از طریق سرور ثبت می‌گردد</p>
            <div class="date">1400/1/1</div>
            <div class="seen">
                <i class="fa fa-eye"></i>
                <div class="num">10</div>
            </div>
        </div> -->
    </div>
</div>