<div class="popup" id="plans-popup">
    <i class="fa fa-times close-popup"></i>
    <div class="title-line">
        <div class="popup-title">
            <h1> خرید اشتراک</h1>
        </div>
    </div>
    <div class="description"> جهت به روز رسانی فایل ها ابتدا باید اشتراک فایل استور را خریداری نمایید.</div>
    <div class="plan-links">
        <div class="plan">
            <h1>یک ماهه</h1>
            <h2>170 هزار تومان</h2>
            <div class="item">
                <i class="fa fa-check check"></i>
                دسترسی به فایل های منطقه
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                حذف و ویرایش فایل ها
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                جستجوی پیشرفته
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                ذخیره سازی اطلاعات
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                پشتیبانی 
            </div>
            <div class="link" id="plan0-btn">خرید اشتراک</div>
        </div>
        <div class="plan">
            <h1>سه ماهه</h1>
            <h2>470 هزار تومان</h2>
            <div class="item">
                <i class="fa fa-check check"></i>
                دسترسی به فایل های منطقه
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                حذف و ویرایش فایل ها
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                جستجوی پیشرفته
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                ذخیره سازی اطلاعات
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                پشتیبانی 
            </div>
            <div class="link" id="plan1-btn">خرید اشتراک</div>
        </div>
        <div class="plan">
            <h1>شش ماهه</h1>
            <h2>680 هزار تومان</h2>
            <div class="item">
                <i class="fa fa-check check"></i>
                دسترسی به فایل های منطقه
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                حذف و ویرایش فایل ها
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                جستجوی پیشرفته
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                ذخیره سازی اطلاعات
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                پشتیبانی 
            </div>
            <div class="link" id="plan2-btn">خرید اشتراک</div>
        </div>
        <div class="plan">
            <h1>یک ساله</h1>
            <h2>1 میلیون و 469 هزار تومان</h2>
            <div class="item">
                <i class="fa fa-check check"></i>
                دسترسی به فایل های منطقه
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                حذف و ویرایش فایل ها
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                جستجوی پیشرفته
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                ذخیره سازی اطلاعات
            </div>
            <div class="item">
                <i class="fa fa-check check"></i>
                پشتیبانی 
            </div>
            <div class="link" id="plan3-btn">خرید اشتراک</div>
        </div>
        
    </div>
</div>