<div class="file-print hidden" id="file-print-frame">
    <header>
      <div class="part right">
        <h1 class="title">فایل استور</h1>
        <h2 class="title">فایلینگ تخصصی املاک در تهران</h2>
      </div>
      <div class="part left">
        <p> <i class="fa fa-map-marker"></i>بلوار کوهک، انتهای نسیم هفتم، مجتمع تجاری چیتگر، واحد 16</p>
        <p class="bigger"> <i class="fa fa-phone"></i>46127919</p>
      </div>
      <div class="part-center">
        <img src="img/logo-dark.png" />
        <p>www.fileestore.ir</p>
      </div>
    </header>
    <div class="multi-column-form">
      <div class="col50">
        <div class="double-text-input">
          <div class="pdf-label">نام مالک</div>
          <div class="pdf-value textinput" id="pdf-file-ownerName">-</div>
          <div class="pdf-label">تلفن</div>
          <div class="pdf-value textinput" id="pdf-file-constPhone">-</div>
        </div>
        <div class="text-area-input">
          <div class="pdf-label">آدرس</div>
          <div class="pdf-value textinput" id="pdf-file-address">-</div>
        </div>
      </div>
      <div class="col50">
        <div class="double-text-input">
          <div class="pdf-label">همراه</div>
          <div class="pdf-value textinput left" id="pdf-file-phone">-</div>
          <div class="pdf-label">تاریخ</div>
          <div class="pdf-value textinput left" id="pdf-file-date">-</div>
        </div>
        <div class="double-text-input">
          <div class="pdf-label">نوع</div>
          <div class="pdf-value textinput center" id="pdf-file-type">-</div>
          <div class="pdf-label">شماره</div>
          <div class="pdf-value textinput left" id="pdf-file-fileNumber">-</div>
        </div>
        <div class="double-text-input">
          <div class="pdf-label">وضعیت</div>
          <div class="pdf-value textinput center" id="pdf-file-state">-</div>
          <div class="pdf-label">سمت</div>
          <div class="pdf-value textinput left" id="pdf-file-role">-</div>
        </div>
      </div>
    </div>
    <div class="table-form">
      <table>
        <tr>
          <th>متراژ</th>
          <th>خواب</th>
          <th>طبقه</th>
          <th>طبقات</th>
          <th>واحد</th>
          <th>سن بنا</th>
          <th>پارکینگ</th>
          <th>انباری</th>
          <th>آسانسور</th>
          <th>آشپزخانه</th>
          <th>نما</th>
          <th>کف</th>
          <th>سرویس</th>
          <th>سرمایش و گرمایش</th>
        </tr>
        <tr>
          <td>
            <div class="pdf-value" id="pdf-file-meterage">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-bedroom">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-floor">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-numOfFloors">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-unit">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-buildAge">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-parking">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-warehouse">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-elevator">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-kitchen">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-view">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-floortype">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-service">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-heatingAndCoolingSystem">-</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="pdf-value" id="pdf-file-meterage2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-bedroom2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-floor2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-numOfFloors2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-unit2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-buildAge2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-parking2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-warehouse2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-elevator2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-kitchen2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-view2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-floortype2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-service2">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-heatingAndCoolingSystem2">-</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="pdf-value" id="pdf-file-meterage3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-bedroom3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-floor3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-numOfFloors3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-unit3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-buildAge3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-parking3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-warehouse3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-elevator3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-kitchen3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-view3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-floortype3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-service3">-</div>
          </td>
          <td>
            <div class="pdf-value" id="pdf-file-heatingAndCoolingSystem3">-</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="long-atext-input">
      <div class="pdf-label">امکانات</div>
      <div class="pdf-value" id="pdf-file-options">-</div>
    </div>
    <div class="two-text-input">
      <div class="pdf-label">قیمت متری/رهن</div>
      <div class="pdf-value left" id="pdf-file-price">-</div>
      <div class="pdf-label">کل / اجاره</div>
      <div class="pdf-value left marg" id="pdf-file-fullPrice">-</div>
    </div>
    <div class="table-form small">
      <table>
        <tbody>
          <tr>
            <th>منطقه</th>
            <th>وام</th>
            <th>قابلیت تبدیل</th>
            <th>تخفیف</th>
            <th>وضعیت سند</th>
            <th>تحویل</th>
            <th>اگهی دهنده</th>
          </tr>
          <tr>
            <td>
              <div class="pdf-value" id="pdf-file-area">-</div>
            </td>
            <td>
              <div class="pdf-value" id="pdf-file-lone">-</div>
            </td>
            <td>
              <div class="pdf-value" id="pdf-file-changable">-</div>
            </td>
            <td>
              <div class="pdf-value" id="pdf-file-discount">-</div>
            </td>
            <td>
              <div class="pdf-value" id="pdf-file-documentState">-</div>
            </td>
            <td>
              <div class="pdf-value" id="pdf-file-transfer">-</div>
            </td>
            <td>
              <div class="pdf-value" id="pdf-file-advertiser">-</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="js/persianNumber.js"></script>
</div>