<div class="title">
    <i class="fa fa-search"></i>
    جستجوی پیشرفته
</div>
<div class="search-parameters">
    <div class="range-input">
        <div class="title">متراژ: 
            <span id="metrage-min">0 </span>
            الی 
            <span id="metrage-max">300 </span>
        </div>
        <div class="slider" id="metrage-slider"></div>
    </div>
    <div class="range-input">
        <div class="title">قیمت کل: 
            <span id="price1-min">5 </span>
            الی 
            <span id="price1-max">100 </span>
        </div>
        <div class="slider" id="price1-slider"></div>
    </div>
    <div class="range-input">
        <div class="title">قیمت متری: 
            <span id="price2-min">5 </span>
            الی 
            <span id="price2-max">100 </span>
        </div>
        <div class="slider" id="price2-slider"></div>
    </div>
    <div class="range-input">
        <div class="title">سن بنا: 
            <span id="age-min">5 </span>
            الی 
            <span id="age-max">100 </span>
        </div>
        <div class="slider" id="age-slider"></div>
    </div>
    <div class="check-input">
        <div class="title">نوع: </div>
        <div class="item active" id="apartment-btn">آپارتمان</div>
        <div class="item active" id="vilage-btn">ویلایی</div>
        <div class="item active" id="old-btn">کلنگی</div>
        <div class="item active" id="business-btn">تجاری</div>
        <div class="item active" id="office-btn">اداری</div>
        <div class="item active" id="office-estate-btn">موقعیت اداری</div>
        <div class="item" id="land-btn">زمین</div>
        <div class="item" id="mostaghelat-btn">مستغلات</div>
        <input type="checkbox" class="check hidden" id="apartment" checked>
        <input type="checkbox" class="check hidden" id="vilage" checked>
        <input type="checkbox" class="check hidden" id="old" checked>
        <input type="checkbox" class="check hidden" id="business" checked>
        <input type="checkbox" class="check hidden" id="office" checked>
        <input type="checkbox" class="check hidden" id="estate" checked>
        <input type="checkbox" class="check hidden" id="land" checked>
        <input type="checkbox" class="check hidden" id="mostaghelat" checked>
    </div>
    <div class="check-input">
        <div class="title">وضعیت: </div>
        <div class="item active" id="sell-btn">فروش</div>
        <div class="item active" id="presell-btn">پیش‌فروش</div>
        <div class="item active" id="exchange-btn">معاوضه</div>
        <div class="item active" id="cooperate-btn">مشارکت</div>
        <div class="item active" id="rent-btn">رهن و اجاره</div>
        <div class="item active" id="rent2-btn">رهن کامل</div>
        <input type="checkbox" class="check hidden" id="sell" checked>
        <input type="checkbox" class="check hidden" id="presell" checked>
        <input type="checkbox" class="check hidden" id="exchange" checked>
        <input type="checkbox" class="check hidden" id="cooperate" checked>
        <input type="checkbox" class="check hidden" id="rent" checked>
        <input type="checkbox" class="check hidden" id="rent2" checked>
    </div>
    
</div>



<script src="js/sidebar.js"></script>