<div class="user-avatar">
    <i class="fa fa-user"></i>
</div>
<div class="code" id="estate-code"></div>
<div class="info">
    <i class="fa fa-user"></i>
    <div class="value" id="fullname"></div>
</div>
<div class="info">
    <i class="fa fa-map-marker"></i>
    <div class="value" id="address"></div>
</div>
<div class="info plan">
    <div class="inline plan" id="days-to-pay"></div>
    روز تا پایان اشتراک
</div>
<div class="refresh-link" id="refresh-btn">
    <i class="fa fa-refresh"></i>
    بارگیری اطلاعات
</div>