<div class="user-avatar">
    <i class="fa fa-user"></i>
</div>
<div class="code" id="estate-code"></div>
<div class="info">
    <i class="fa fa-user"></i>
    <div class="value" id="fullname"></div>
</div>
<div class="info">
    <i class="fa fa-map-marker"></i>
    <div class="value" id="address"></div>
</div>
<div class="info logout hidden" id="logout">
    <i class="fa fa-power-off"></i>
    <div class="value">خروج از حساب کاربری</div>
</div>
<div class="info logout hidden" id="delete-files">
    <i class="fa fa-trash"></i>
    <div class="value">حذف فایل های بارگیری شده</div>
</div>
<div class="info logout hidden" id="no-plan-info">
    اشتراک شما به پایان رسیده
</div>
<div class="info plan" id="plan-info">
    <div class="inline plan" id="days-to-pay"></div>
    روز تا پایان اشتراک
</div>
<div class="refresh-link" id="user-control-btn">
    <i class="fa fa-users"></i>
    مدیریت کاربران
</div>
<div class="refresh-link" id="refresh-btn2">
    <i class="fa fa-refresh"></i>
    به روز رسانی فایل‌های قبلی
</div>
<div class="refresh-link" id="refresh-btn">
    <i class="fa fa-refresh"></i>
    بارگیری اطلاعات جدید
</div>
