footer 
    .hidden-overflow
        .contact 
            h1.title تماس بگیرید
            a(href="#") 
                i.fa.fa-map-marker
                | تهران منطقه 22  بلوار کوهک (شهید علیمرادی ) خیابان نسیم 7 مجتمع تجاری چیتگر  طبقه اول
            a(href="tel:02146127919")
                i.fa.fa-phone
                | 02146127919 - 02146127947
            //- a(href="mailto:info@example.com") 
            //-     i.fa.fa-envelope
            //-     | info@example.com
        .quick-links 
            h1.title پشتیبانی
            a(href="#") سوالات متداول
            a(href="#") ارسال تیکت
            a(href="#") قوانین و مقررات
        .quick-links 
            h1.title دسترسی سریع
            a(href="#") درباره ما
            a(href="#") تماس با ما
            a(href="#") پیوستن به فایل استور
            a(href="#") مقالات
            a(href="#") اخبار
        //- .news-letter 
        //-     h1.title عضویت در فایل استور
        //-     .text برای خدمات فایل استور شماره موبایل خود را وارد کنید. همکاران ما در اصرع وقت با شما تماس حاصل می‌کنند.
        //-     form(action="/newsletter" method="POST") 
        //-         input.text(type="text" name="phone" placeholder="0912XXXXXXX")
        //-         input.submit(type="submit" value="مشترک شدن")
    //- a(referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=188226&amp;Code=hpnWva29lcClGTdCZAcG")
    //-     img(referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=188226&amp;Code=hpnWva29lcClGTdCZAcG" alt="" style="cursor:pointer" id="hpnWva29lcClGTdCZAcG")
    a(referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=188226&amp;Code=hpnWva29lcClGTdCZAcG")
        img(referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=188226&amp;Code=hpnWva29lcClGTdCZAcG" alt="" style="cursor:pointer" id="hpnWva29lcClGTdCZAcG")
    h1.copy-right کلیه حقوق مادی و معنوی متعلق به فایل استور می‌باشد.