.popup.w40p#add-user-popup
    i.fa.fa-times.close-popup
    .title-line
        .popup-title
            h1 افزودن کاربر جدید
    form(action="/dashboard/add-user" method="POST")
        .one-side-form
            .text-input-area
                label(for="fullname") 
                    i.fa.fa-user
                    | نام و نام خانوادگی:
                input.textinput(type="text" placeholder="نام و نام خانوادگی" name="fullname" value= "#{ typeof fullname != 'undefined' ? fullname: '' }")
            .text-input-area
                label(for="idNumber") 
                    i.fa.fa-phone
                    | شماره تلفن:
                input.textinput(type="text" placeholder="شماره تلفن" name="idNumber" value= "#{ typeof idNumber != 'undefined' ? idNumber: '' }")
            .text-input-area
                label(for="password") 
                    i.fa.fa-key
                    | کلمه عبور:
                input.textinput(type="password" placeholder="کلمه عبور" name="password" value= "#{ typeof password != 'undefined' ? password: '' }")
            table.access 
                tr
                    th دسترسی
                    th افزودن
                    th حذف
                    th ویرایش
                tr 
                    td فایل ها
                    td 
                        input(type="checkbox" name="addFilePermission" id="addFilePermission" value="true")
                    td 
                        input(type="checkbox" name="removeFilePermission" id="removeFilePermission" value="true")
                    td 
                        input(type="checkbox" name="editFilePermission" id="editFilePermission" value="true")
                tr 
                    td مشاور املاک
                    td 
                        input(type="checkbox" name="addEstatePermission" id="addEstatePermission" value="true")
                    td 
                        input(type="checkbox" name="removeEstatePermission" id="removeEstatePermission" value="true")
                    td 
                        input(type="checkbox" name="editEstatePermission" id="editEstatePermission" value="true")
                tr 
                    td مشاهده اعلان ها
                    td 
                        input(type="checkbox" name="notifPermission" id="notifPermission" value="true")
                tr 
                    td تغییر تنظیمات
                    td 
                        input(type="checkbox" name="settingsPermission" id="settingsPermission" value="true")
                
            button.submit(type="submit") ثبت
-if(errors){
    script.
        $('#add-user-popup').show();
        $('.black-modal').show();
-}

